.container
  = form_for Link.new do |f|
    = f.text_field :link,
      placeholder: "http:// ...",
      autofocus: true,
      autocomplete: "off",
      :class => flash[:error] != nil ? "error" : ""
    = f.text_field :urlhash,
      placeholder: "Alias",
      autocomplete: "off"
    = f.submit "☞"