.container
  %a{href: '/' + @link.urlhash, :class => "link"}= request.host + '/' + @link.urlhash
  %a{href: @link.link, :class => "link link-muted"}
    %span ↳
    = @link.link

.link-meta
  Visitors:
  = @link.hits
