.container
  %span.hint Copy
  %input{value: request.host + '/' + @link.urlhash, :class => "output", :autofocus => true}
  %a{href: @link.link, :class => "target"}
    %span ↳
    = @link.link

.meta
  Visitors:
  = @link.hits
