.container
  %span.copy{'data-clipboard-text' => request.host + '/' + @link.urlhash} Copy
  %input{value: request.host + '/' + @link.urlhash, :class => "output", :autofocus => true, :readonly => true}
  %a{href: @link.link, :class => "target"}>
    %span> ↳
    = @link.link

.meta
  Visitors:
  = @link.hits