.graph-container
  - views.each do |group|
    - height = (group['views'].to_f / highest) * 100
    .graph-bar{style: "height: #{height}px;"}
      .graph-label
        = group['date'].strftime('%D')
