/**
 *= require_self
 */

@import "bourbon";

$color-link: #2d72d9;

* {
  @include box-sizing(border-box);
}

body {
  padding: 0;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}

a,
a:visited {
  color: $color-link;
  text-decoration: none;
  @include transition(color ease .1s);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:hover,
a:active {
  color: darken($color-link, 10%);
}

/**
 * Reset input styles
 */

input {
  background: transparent;
  border: 1px solid;
  color: inherit;
  display: block;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**
 * Page container
 */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  @include transform(translate(-50%, -70%));
}

/**
 * Result output
 */

.output {
  border: 0;
  outline: 0;
  font-size: 82px;
  text-align: center;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto 30px;
}

/**
 * Target link
 */

.target {
  display: inline-block;
  text-align: center;
  font-size: 32px;
  max-width: 100%;
  padding: 0 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 680px;
  margin: 0 auto;

  span {
    margin-right: 10px;
    margin-left: -15px;
    display: inline-block;
    position: relative;
    top: 3px;
    color: #555;
    @include user-select(none);
  }
}

/**
 * Copy button/hint
 */

.copy {
  display: inline-block;
  text-transform: lowercase;
  color: #999;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  @include user-select(none);
  @include animation-name(pulse);
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);

  /* Larger hit target */
  padding: 15px;
  margin: -15px 0 15px;

  &.copied {
    @include animation-name('');
  }
}

@include keyframes(pulse) {
  0%  { opacity: 1; }
  25% { opacity: 1; }
  50% { opacity: .3; }
  75% { opacity: 1; }
}

/**
 * Link hit count
 */

.meta {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  font-weight: 400;
  text-align: center;
  color: #999;
  cursor: default;
  text-transform: lowercase;
}

/**
 * URL input
 */

.control {
  position: relative;

  &:after {
    content: "";
    top: calc(100% - 3px);
    height: 3px;
    width: 100%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    background: #999;
  }

  &.error:after {
    background: #FC7C7C;
  }
}

.url-input {
  border: 0;
  outline: 0;
  font-size: 82px;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  margin: 0 auto 30px;
}

input[type="submit"] {
  visibility: hidden;
  position: absolute;
}

.alias-input {
  @extend .url-input;
  font-size: 26px;
  padding: 3px 0 0;
  margin: 0;
}

/**
 * Error flash
 */

.flash {
  max-width: 600px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  line-height: 50px;
}

.flash-error {
  background-color: #ffaeae;
}

.flash-success {
  background-color: #A7F0A4;
}

/**
 * Visitor graphs
 */

.graph-container {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.graph-bar {
  background-color: #eee;
  width: 20px;
  display: inline-block;
  margin: 0 0px -5px 5px;
}

.graph-label {
  position: absolute;
  @include transform(rotate(-90deg));
  font-size: 10px;
  margin-left: -15px;
  margin-top: -35px;
  color: #E2E1E1;
  cursor: default;
  letter-spacing: 1px;
}

/**
 * Home button
 */

.home-btn {
  top: 0;
  left: 0;
  padding-left: 20px;
  font-size: 30px;
}