/**
 *= require_self
 */

@import "bourbon";

$color-link: #2d72d9;

/**
 * Base styles
 */

* {
  @include box-sizing(border-box);
}

body {
  padding: 0;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}

a,
a:visited {
  color: $color-link;
  text-decoration: none;
  @include transition(color ease .1s);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:hover,
a:active {
  color: darken($color-link, 10%);
}

/**
 * Reset input styles
 */

input {
  background: transparent;
  border: 1px solid;
  color: inherit;
  display: block;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**
 * Page container
 */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -70%));
  text-align: center;
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/**
 * Result output
 */

.output {
  border: 0;
  outline: 0;
  font-size: 82px;
  text-align: center;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto 30px;
}

/**
 * Target link
 */

.target {
  display: inline-block;
  text-align: center;
  font-size: 32px;
  max-width: 100%;
  padding: 0 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 680px;
  margin: 0 auto;

  span {
    margin-right: 10px;
    margin-left: -15px;
    display: inline-block;
    position: relative;
    top: 3px;
    color: #555;
    @include user-select(none);
  }
}

/**
 * Copy button/hint
 */

.copy {
  display: inline-block;
  text-transform: lowercase;
  color: #999;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  @include user-select(none);
  @include animation-name(pulse);
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);

  /* Larger hit target */
  padding: 15px;
  margin: -15px 0 15px;

  &.copied {
    @include animation-name('');
  }
}

@include keyframes(pulse) {
  0%  { opacity: 1; }
  25% { opacity: 1; }
  50% { opacity: .3; }
  75% { opacity: 1; }
}

/**
 * Link hit count
 */

.meta {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  font-weight: 400;
  text-align: center;
  color: #999;
  cursor: default;
  text-transform: lowercase;
}


/**
 * URL input
 */

.url-input {
  border: 0;
  outline: 0;
  font-size: 82px;
  text-align: center;
  border-bottom: 3px solid #999;
  width: 100%;
  padding: 30px 40px;
  margin: 0 auto 30px;

  &.error {
    border-color: #FC7C7C;

    & + input[type="submit"] {
      border-color: #FC7C7C;
    }
  }
}

.input-clone-wrap {
  overflow: hidden;
  position: absolute;
  width: 0;
  white-space: pre;
}

.input-clone {
  @extend input;
  @extend .url-input;
  visibility: hidden;
  white-space: pre;
  width: auto;
  display: inline-block;
}

/* Submit button */
input[type="submit"] {
  -webkit-appearance: none;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  @include user-select(none);
  padding: 18px 25px;
  border: 2px solid #ccc;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  min-width: 100px;
  font-size: 50px;
  height: 85px;
  line-height: 53px;
  color: #999;
  visibility: hidden;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
  }
}

.alias-input {
  visibility: hidden;
}

/* Flashes */
.flash {
  max-width: 600px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  line-height: 50px;
}

.flash-error {
  background-color: #ffaeae;
}

.flash-success {
  background-color: #A7F0A4;
}
