/**
 *= require_self
 */

@import "bourbon";

$color-link: #3275DA;

/**
 * Base styles
 */

body {
  padding: 0;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}

a,
a:visited {
  color: $color-link;
  text-decoration: none;
  @include transition(color ease .1s)
}

a:hover,
a:active {
  color: darken($color-link, 15%);
}

/**
 * Reset input styles
 */

input {
  background: transparent;
  border: 1px solid;
  @include box-sizing(border-box);
  color: inherit;
  display: block;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  width: 100%;
}

/**
 * Page container
 */

.container {
  max-width: 600px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -70%));
  text-align: center;
}

/**
 * Result output
 */

.output {
  border: 0;
  outline: 0;
  font-size: 82px;
  text-align: center;
  margin-bottom: 30px
}

/**
 * Copy hint
 */

.hint {
  display: inline-block;
  text-transform: lowercase;
  color: #999;
  text-align: center;
  font-weight: 400;
  cursor: pointer;

  /* Larger hit target */
  padding: 15px;
  margin: -15px 0 15px;

  @include animation-name(pulse);
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);

  &.copied {
    @include animation-name('');
  }
}

@include keyframes(pulse) {
  0%  { opacity: 1; }
  25% { opacity: 1; }
  50% { opacity: .3; }
  75% { opacity: 1; }
}

/**
 * Target link
 */

.target {
  text-align: center;
  font-size: 32px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;

  span {
    margin-right: 8px;
    margin-left: -15px;
    display: inline-block;
    position: relative;
    top: 3px;
    color: #555;
  }
}

/**
 * Link hit count
 */

.meta {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  font-weight: 400;
  text-align: center;
  color: #999;
  cursor: default;
  text-transform: lowercase;
}




/* URL input */
input[type="text"] {
  font-size: 34px;
  padding: 18px 130px 18px 25px;
  border: 2px solid #ccc;
  outline: 0;
  text-align: left;
  height: 85px;

  &:focus + input[type="submit"] {
    color: inherit;
  }

  &.error {
    border-color: #FC7C7C;

    & + input[type="submit"] {
      border-color: #FC7C7C;
    }
  }
}

/* Submit button */
input[type="submit"] {
  -webkit-appearance: none;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  @include user-select(none);
  padding: 18px 25px;
  border: 2px solid #ccc;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  min-width: 100px;
  font-size: 50px;
  height: 85px;
  line-height: 53px;
  color: #999;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
  }
}

/* Flashes */
.flash {
  max-width: 600px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  line-height: 50px;
}

.flash-error {
  background-color: #ffaeae;
}

.flash-success {
  background-color: #A7F0A4;
}